@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

/* default padding and margin */
body, h1, h2, h3, h4, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #A4C4EF;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1  {
    font-size: 4rem;
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Form section */
form {
    margin-top: 1rem;
}

form .form-control,
form .form-select {
    margin-bottom: 0.5rem;
}

form .btn {
    margin-top: 0.5rem;
}

.blue-button-color {
    background-color: #56EEF4;
    color: black;
}

.game-banner {
    font-size: 2rem;
    width: 600px;
    background-color: #EF7B45;
    border: 5px, solid, black;
} 
/* User Choice Indication */
.text-center {
    text-align: center;
}
/* weather icons */
#weather-icon img {
    width: 100px;
    height: 100px;
}
/* user choice indication for city and country */
#user-choice {
    display: flex;
    flex-direction: row;
    h3{
        color:black;
        }
    align-items: center;
    justify-content: flex-start;
}
/* Adjust as needed for spacing between label and city */
#user-choice-label {
    margin-right: 10px; 
    display: flex;
}


footer {
    background-color: #357DED;
}

footer .btn {
    width: auto;
    margin-bottom: 0.5rem;
}

.games-rules {
    width: 400px;
}

/* styling for result icons */
.blue-circle {
    padding: 0 5px;
    background-color: #357DED;
    border-radius: 50%;
    width: 1.6em;
    text-align: center;
    color: #a4c4ef;
    font-size: small;
    margin-top: 10px;
}

.green-win {
    color: green;
    font-size: large;
}

.red-lose {
    color: red;
    font-size: large;
}

/* General styles for weather forecast */
#five-day-forecast .col {
    text-align: center;
    padding: 10px;
}

.weather-icon {
    margin-bottom: 10px;
}

.result-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Responsive Styles */
@media (max-width: 767px) {
    header h1 {
        font-size: 1.75rem;
    }

    header h2 {
        font-size: 1rem;
    }

    form .btn {
        width: 100%;
    }

    #user-choice {
        flex-direction: column;
    }

    #five-day-forecast .col {
        margin-bottom: 0.5rem;
    }

    footer .btn {
        width: 100%;
    }
}

@media (max-width: 992px) {
    footer .btn {
        width: 100%;
        margin-bottom: 0.5rem;
    }
    
}

@media (max-width: 575px) {
    footer .btn {
        width: 100%;
    }
}