@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');


body {
    background-color: #A4C4EF;
    font-family: "Margarine", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1  {
    font-size: 4rem;
}

.blue-button-color {
    background-color: #56EEF4;
}

.game-banner {
    font-size: 2rem;
    width: 600px;
    background-color: #EF7B45;
    border: 5px, solid, black;
} 


footer {
    background-color: #357DED;
}